# vim tmp files
*~
*.swp
*.swo

# dont track .files
.*

# no csv or dat files
*.csv
*.dat

# don't track experimental files
etc/
pg.py

# dont track documentation .docx
*.docx

# pycache
__pycache__/*

